<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanjian.creditrent">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".CreditRent_Application">
        <activity android:name=".moudles.main.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--————————————登录注册——————————-->
        <activity android:name=".moudles.signup.view.impl.LoginActivity"/>
        <activity android:name=".moudles.signup.view.impl.RegisterPhoneActivity"/>
        <activity android:name=".moudles.signup.view.impl.RegisterRealActivity"/>
        <activity android:name=".moudles.signup.AgreementActivity"/>
        <activity android:name=".moudles.signup.view.impl.ForgetPasswordActivity"/>

        <!--————————————user——————————-->
        <activity android:name=".moudles.user.moudles.UserDetailInformationChange"/>
        <activity android:name=".moudles.user.moudles.UserDetailInformation"/>
        <activity android:name=".moudles.user.moudles.UserRentActivity"/>
        <activity android:name=".moudles.user.moudles.UserReturnActivity"/>
        <activity android:name=".moudles.user.moudles.user_publish.UserPublishedActivity"/>
        <activity android:name=".moudles.user.moudles.user_unpublished.UserUnpublishedActivity"/>
        <activity android:name=".moudles.user.moudles.UserBoughtActivity"/>
        <activity android:name=".moudles.user.moudles.UserSelledActivtiy"/>
        <activity android:name=".moudles.user.moudles.UserCollectedActivity"/>
        <activity android:name=".moudles.user.moudles.UserSawActivity"/>
        <activity android:name=".moudles.user.moudles.UserSettingsActivity"/>

        <!--————————————homepager——————————-->
        <activity android:name=".moudles.homepage.SearchActivity"/>

    </application>

</manifest>